
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mea+Culpa&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
}

.shape-font{
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-size: 4.9rem;
}


/* common style start here */

.display-flex {
    display: flex;
}

.btn-primary {
    color: rgb(255, 255, 255);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    background: black;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-right: 24px;

}

.mango {
    background: rgb(230, 83, 60);
    border: none;
}

/* common style ends here */



/* header section start here */
header{
    background: linear-gradient(180.00deg, rgb(48, 48, 48), rgba(119, 119, 119, 0) 100%);
    color: rgb(255, 255, 255);
    max-width: 100%;
    border: 1px solid blue;
    margin: 0 auto;
}


.nav-bar {
    margin: 0 190px;
    padding-top: 57px;
    width: 1060px;
    height: 46px;
    gap: 468px;
    align-items: center;
}

.fitness {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
    padding: 0 auto;

}

.nav {
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 465px;
    justify-content: space-between;
    padding-right: 20px;
}


#nav-home {
    border-radius: 46px;
    padding: 8px 20px;
    background: rgb(230, 83, 60);
    margin: 4px;
}

.heading-body {
    margin-left: 190px;
    margin-top: 86px;
    width: 520px;
    height: 440px;
    margin-bottom: 50px;
}

.heading-title {
    color: rgb(255, 255, 255);
    font-size: 4.875rem;
    height: 282px;
    width: 520px;
    line-height: 120%;
    letter-spacing: 0%;
    font-weight: 900;
    margin-bottom: 28px;
}

.heading-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

.header-img {
    position: absolute;
    margin-left: 168px;
    margin-right: 214px;
    margin-top: 60px;
    width: 100%;
    width: 349px;
    height: 520px;
}


 .card-1 {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 453px;
    margin-left: 60px;
}

.card-2 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-left: 130px;
    margin-top: 160px;
} 


.icon {
    width: 40px;
    height: 40px;
    margin: 28px 12px 28px 23px;
    background: rgb(230, 83, 60);
    border-radius: 100%;
}

.card-title-2 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 17px;
}

.card-container-2>h3,
p {
    margin: 0px;
}

.card-container {
    width: 108px;
    height: 56px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 20px;
    margin-right: 23px;
}

.card-container-2 {
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 10px;
}

.card-title {
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
    margin-bottom: 8px;
}

.card-name {
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}
/* header section ends here */





/* Responsible for mobile device */
@media screen and (max-width: 576px) {
    .heading-section{
        flex-direction: column;
    }
    .header{
        width: 393px;
        height: 1024px;
    }
    .header-img{
        width: 352px;
        position: none;
        margin: 20px;
    }

    .heading-body{
        width: 352px;
        height: 335px;
        margin: 55px 21px 8px 20px;
    }

    .heading-title{
        font-size: 36px;
        line-height: 120%;
        width: 285px;
        height: 129px;
    }
    .button{
        display: flex;
    }
    .btn-primary{
        width: 169px;
        height: 54px;
    }

    .first-nav{
        width: 100%;
        justify-content: space-between;
    }
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .nav ul {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #444;
    }

    .hamburger {
        display: flex;
    }

    .nav.show {
        display: flex;
    }

    .nav-bar{
        margin: 0 20px;
        width: 353px;
        height: 43px;
    }
    .fitness {
        display: block;
        width: 132px;
        height: 43px;
        font-size: 2rem;
    }
    .heading-section{
        width: 100%;

    }
    .card-container{
        margin-bottom: 20px;
    }
    .icon{
        margin: 20px;
    }
    .card-1{
        margin-top: 250px;
        margin-left: 20px;
        width: 155.74px;
        height: 72.58px;
    }
     .card-2{
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 29px;
        width: 145.91px;
        height: 74.09px;
    }

    .card-title{
        font-size: 18.14px;
    }
    .card-title-2{
        font-size: 30px;
    }
    .card-name{
        font-size: 9.83px;
    }
}