@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mea+Culpa&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
}

.shape-font {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-size: 4.9rem;
}


/* common style start here */

.display-flex {
    display: flex;
}

.btn-primary {
    color: rgb(255, 255, 255);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    background: rgb(21, 21, 21);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-right: 24px;

}

.mango {
    background: rgb(230, 83, 60);
    border: none;
}

/* common style ends here */



/* header section start here */
.header {
    background: linear-gradient(rgb(9, 9, 9), rgb(43, 42, 42), rgb(9, 9, 9) 100%);
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
}

.nav-bar {
    margin: 0 170px;
    padding-top: 57px;
    width: 1060px;
    height: 46px;
    gap: 468px;
    align-items: center;
}

.fitness {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
    padding: 0 auto;

}

.nav {
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 465px;
    justify-content: space-between;
    padding-right: 20px;
}


#nav-home {
    border-radius: 46px;
    padding: 8px 20px;
    background: rgb(230, 83, 60);
    margin: 4px;
}

.heading-body {
    margin-left: 170px;
    margin-top: 86px;
    width: 520px;
    height: 440px;
    margin-bottom: 50px;
}

.heading-title {
    color: rgb(255, 255, 255);
    font-size: 4.875rem;
    height: 282px;
    width: 520px;
    line-height: 120%;
    letter-spacing: 0%;
    font-weight: 900;
    margin-bottom: 28px;
}

.heading-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

.header-img {
    position: absolute;
    margin-left: 168px;
    margin-right: 214px;
    margin-top: 60px;
    width: 100%;
    width: 349px;
    height: 520px;
}


.card-1 {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 453px;
    margin-left: 60px;
}

.card-2 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-left: 130px;
    margin-top: 160px;
}


.icon {
    width: 40px;
    height: 40px;
    margin: 28px 12px 28px 23px;
    background: rgb(230, 83, 60);
    border-radius: 100%;
}

.card-title-2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 17px;
}

.card-container-2>h3,
p {
    margin: 0px;
}

.card-container {
    width: 108px;
    height: 56px;
    margin-top: 20px;
    margin-right: 23px;
}

.card-container-2 {
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 10px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
    margin-bottom: 8px;
}

.card-name {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* header section ends here */

/* main section start here */

/* fitness module section start here */
.fitness-module{
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 1060px;
    margin-top: 100px;
    border-radius: 20px;
    background: rgb(34, 34, 34); 
}

.fitness-module-title{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0 40px;
    padding-top: 20px;
    margin-bottom: 14px;
    text-align: center;
}

.fitness-module-video{
    margin-left: 90px;
    margin-right: 90px;
    margin: 0px 90px 40px 90px; 
    width: 880px;
    border-radius: 20px;
}

/* fitness module section end here */

/* Change Your Habits section start here */
.change-your-habits {
    color: rgb(255, 255, 255);
    width: 1044px;
    height: 452px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


.habit-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0 auto;
    margin-bottom: 14px;
    text-align: center;
}

.habit-description,
.img-description,
.fitness-module-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 54px;
    text-align: center;
}

.img-description {
    margin-bottom: 0px;
}

.habit-image {
    background: rgb(34, 34, 34);
    padding: 4px;
    border-radius: 100%;
    margin: 0 36px;
    margin-bottom: 26px;

}

.img-title {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
}

/* Change Your Habits section end here */


/* Run section start here */
.run-section {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 1060px;
    height: 371px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 100px;
}

.run-section-body {
    margin: 41px 165px 40px 54px;
}

.run-title,
.calculator-header-title,
.team-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.run-description,
.calculator-header-description,
.team-description {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.4;
}

.run-image {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px 32px 29px 0px;
    object-fit: none;
    object-position: 67% 30%;

}

.run-button {
    margin-top: 34px;
}

/* Run section end here */

/* BMI Calculator section start here */
.bmi-calculator,
.meet-our-team {
    color: rgb(255, 255, 255);
    width: 100%;
}

.bmi-calculator {
    margin-bottom: 88px;
}

.calculator-header {
    margin-bottom: 65px;
    margin-left: 364px;
}

.calculator-body,
footer {
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}


.table-chart-title {
    font-size: 28px;
    font-weight: 900;
}

.calculator {
    margin: 52px 0px 133px auto;

}

.table {
    width: 310px;
    height: 216px;
    margin-top: 52px;
}

table,
th,
td {
    align-items: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.table-header {
    font-size: 16px;
    font-weight: 500;
}

tr>td {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
}


.bmi {
    margin: 49px auto 52px 175px;
    /* padding: 49px 160px 52px 175px; */
    width: 577px;
    height: 386px;
}

.bmi-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-description {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
    opacity: 0.5;
}

.text {
    width: 282.5px;
    height: 48px;
}

#activity-option {
    width: 577px;
    height: 48px;
}

.text,
#activity-option {
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
}

.hight,
.age {
    margin-right: 12px;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 282.5px);
    gap: 12px;
}

.submit-btn {
    width: 224px;
    height: 54px;
    margin-top: 34px;
}

/* BMI Calculator section end here */

/* Meet Our team section start here */

.team-header {
    align-items: center;
    text-align: center;
}

.team-footer {
    width: 1060px;
    height: 604px;
    margin: 58px auto 88px auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.team-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

/* .team-image>img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    } */

.trainer>img {
    width: 100%;
    height: 272px;
    display: block;
    border-radius: 18px;
    opacity: 0.8;
}

.trainer {
    position: relative;
}


.text-trainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.text-trainer>h4 {
    font-weight: 800;
    font-size: 1.2rem;
}

.text-trainer>p {
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.5;
}

/* Meet Our team section end here */


/* Footer Contact section start here */
.contact-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    padding: 50px 180px 60px 180px;
}

.contact-section-title {
    color: rgb(230, 83, 60);
    font-size: 4.375rem;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
}

.contact-section-description {
    width: 443px;
    height: 72px;
    opacity: 0.5;
    line-height: 24px;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
}

.footer-title-two {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 39px;
    width: 181px;
    height: 38px;
}

.contact-site>li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.5;
    width: 181px;
    line-height: 120%;
}

hr {
    margin: 10px 180px 30px 180px;
}

.footer-right {
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0.5;
    align-items: center;
    text-align: center;
    padding-bottom: 35px;
}

/* Footer Contact section end here */

.h {
    display: none;
}




/* Responsible for mobile device */
@media screen and (max-width: 576px) {

    /* header responsible start */
    .heading-section,
    .calculator-body {
        flex-direction: column;
    }

    .header {
        width: 390px;
        height: 1024px;
    }

    .header-img {
        width: 352px;
        position: none;
        margin: 48px 18px 0px 22px;
    }

    .heading-body {
        width: 352px;
        height: 335px;
        margin: 55px 21px 8px 20px;
    }

    .heading-title {
        font-size: 36px;
        line-height: 120%;
        width: 285px;
        height: 129px;
    }

    .button {
        display: flex;
    }

    .btn-primary {
        width: 169px;
        height: 54px;
    }

    .first-nav {
        width: 100%;
        justify-content: space-between;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .nav ul {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #444;
    }

    .hamburger {
        display: flex;
    }

    .nav.show {
        display: flex;
    }

    .nav-bar {
        margin: 0 20px;
        width: 353px;
        height: 43px;
    }

    .fitness {
        display: block;
        width: 132px;
        height: 43px;
        font-size: 2rem;
    }

    .heading-section {
        width: 100%;

    }

    .card-container {
        margin-bottom: 20px;
    }

    .icon {
        margin: 20px;
    }

    .card-1 {
        margin-top: 250px;
        margin-left: 20px;
        width: 155.74px;
        height: 72.58px;
    }

    .card-2 {
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 29px;
        width: 145.91px;
        height: 74.09px;
    }

    .card-title {
        font-size: 1.14rem;
    }

    .card-title-2 {
        font-size: 1.875rem;
    }

    .card-name {
        font-size: 9.83px;
    }
    /* header responsible end */

    /* fitness module section start here*/
    .fitness-module{
        margin-top: 20px;
        width: 375px;
    }
    .fitness-module-title{
        font-size: 1.7rem;
        text-align: left;
        margin: 0px;
        padding: 20px;
        padding-bottom: 0px;
    }
    .fitness-module-description{
        text-align: left;
        padding: 20px;
        margin-bottom: 10px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
    .fitness-module-video{
        width: 335px;
        margin: 0px 20px 20px 20px;
    }

    /* fitness module section end here*/
    /* Change Your Habits responsible section start */
    .change-your-habits {
        width: 338px;
        height: 1398px;
        margin-top: 15px;
        margin-bottom: 66px;
    }

    .habit-footer,
    .team-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-title,
    .run-title,
    .calculator-header-title,
    .team-title {
        font-size: 2rem;
    }

    .habit-description,
    .team-description {
        line-height: 24px;
        letter-spacing: 0.3px;
    }

    .habit-image {
        margin: 0 76px;
        margin-bottom: 30px;
    }

    .img-description {
        width: 231px;
        margin-bottom: 36px;
    }

    /* Change Your Habits responsible section end */

    /* Run responsible section start */
    .run-section {
        width: 353px;
        height: 531px;
        margin-bottom: 45px;
        flex-direction: column;
    }

    .run-section-body {
        margin: 31px 33px;
    }

    .run-title,
    .run-description {
        width: 287px;
        /* height: 76px; */
    }

    .run-button {
        width: 287px;
        height: 54px;
    }

    .run-image {
        object-fit: fill;
        width: 287px;
        height: 170px;
        margin: 0 33px;
    }

    /* Run responsible section end */


    /* BMI calculator section start here */
    .calculator-header {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .calculator {
        margin: 30px 0px 30px 20px;
    }

    .bmi-calculator {
        margin-bottom: 66px;
    }

    .bmi {
        margin: 0px 0px 30px 20px;
        width: 354px;
        height: 395px;
    }

    .table-chart-title,
    .bmi-title {
        font-size: 1rem;
    }

    .bmi-description {
        width: 346px;
        height: 72px;
        line-height: 24px;
    }

    .text {
        width: 170.5px;
        height: 48px;
    }

    .form {
        grid-template-columns: repeat(2, 170px);
    }

    #activity-option {
        width: 353px;
        height: 48px;
    }

    /* BMI calculator section ends here */
    /* Our team section start here */
    .team-description {
        width: 309px;
        height: 72px;
        margin: 0 auto;
    }

    .team-footer {
        width: 353px;
        height: 1188px;
        margin: 37px auto 66px auto;
    }

    .none {
        display: none;
    }

    /* Our team section ends here */

    /* Footer Contact section start here */
    .contact-section {
        padding: 44px 0px 55px 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-section-description {
        width: 317px;
        height: 96px;
        letter-spacing: 0.3px;
        margin-bottom: 30px;
    }

    hr {
        margin: 10px 20px 30px 20px;
    }

    /* Footer Contact section end here */
}